.navbar-link.is-active {
    color: hotpink;
}

.is-flex.is-center {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.scroll-list {
    max-height: calc(100vh - 400px);
    overflow-y: auto;
}

.full-height {
    min-height: 100vh;
}

.is-absolute {
    position: absolute;
    top: 64px;
    right: 64px;
}

.is-title {
    font-weight: 700;
    font-size: 100px;
}

.logo {
    margin-top: 45px;
    position: absolute;
    width: 40px;
    height: 40px;
}
@media only screen and (max-width: 768px) {
    .logo {
        margin-left: 160px;
    }

    .dt {
        font-size: 30px;
    }
}